[Desktop Entry]
Encoding = UTF-8
Name = translate-shell
GenericName = Translate
Type = Application
Exec = trans
Icon = translate-shell
Terminal = false
Categories = Education
